
.form{
    position: relative;
    margin-left: 300px;
}



label{
    margin-left: 100px;
    
}

.verifMdp{
    margin-left: 20px;
}

input{
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mdp{
    margin-left: 70px;
}

.departement{
    margin-left: 20px;
    
}

.button{
    margin-top: 10px;
    margin-left: 190px;
    background-color: rgb(138, 56, 56);
}
